.btn-outline-primary{
    color: #3490dc !important;
}

.btn-outline-primary:hover{
    color: white !important;
}

.btn-outline-success{
    color: #38c172 !important;
}

.btn-outline-success:hover{
    color: white !important;
}

.btn-outline-danger{
    color: #dc3545 !important;
}

.btn-outline-danger:hover{
    color: white !important;
}

.icon-solved{
    color: #38c172 !important;
}

.icon-not-solved{
    color: #dc3545 !important;
}

.text-total-vote{
    font-size: x-large;
    width: 100%;
}

.btn-vote-width{
    width: 100%;
}

.btn-upvote{
    color: #38c172;
}
.btn-downvote{
    color: #dc3545;
}
